{% extends "root.html" %}
{% block body %}


    <!-- Content Header (Page header) -->
    <section class="content-header pt-4">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6 d-flex align-items-center">
            <h1>Phrase Detail </h1>
            <!-- <a href="add/" class="btn btn-sm btn-circle btn-primary btn-fab ml-3"><i class="fa fa-plus"></i></a> -->

          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Book</a></li>
              <li class="breadcrumb-item active">Book 1 Details</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="row">
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-header">
                    <h3 class="card-title">AR Content</h3>
                    <div class="card-tools">
                        <a href="/book-ui/{{ bookid }}/phraseform/" type="button" class="btn btn-tool" data-toggle="tooltip" title="Add content">
                        <i class="fas fa-plus"></i></a>
                    </div>
                    <!-- <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i></button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i></button>
                    </div> -->
                    </div>
                    <div class="card-body p-0">
                        <table class="table table-striped projects">
                            <thead>
                                <tr>
                                    <th style="width: 1%">
                                        #
                                    </th>
                                    <th style="width: 40%">
                                        Phrase
                                    </th>
                                    <th style="width: 20%" class="text-center">
                                        Status
                                    </th>
                                    <th style="width: 40%">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for phrase in phrases %}
                                <tr>
                                    <td>
                                        {{phrase.id}}
                                    </td>
                                    <td>
                                        <a>
                                            {{phrase.phrase}}
                                        </a>
                                        <br/>
                                        <small>
                                            {{phrase.created_at}}
                                        </small>
                                    </td>
                                    <td class="project-state">
                                        <span class="badge badge-success">Active</span>
                                    </td>
                                    <td class="project-actions text-right">
                                        <a class="btn btn-primary btn-sm" href="details/">
                                            <i class="fas fa-download">
                                            </i>
                                            Download Model
                                        </a>
                                        <a class="btn btn-info btn-sm" href="/book-ui/{{ bookid }}/phrase-edit/{{ phrase.id }}"/>
                                            <i class="fas fa-pencil-alt">
                                            </i>
                                            Edit
                                        </a>
                                        <a class="btn btn-danger btn-sm sky-rowdel" href="/book-ui/phrase-list/{{ phrase.id }}/">
                                            <i class="fas fa-trash">
                                            </i>
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-primary mt-2"><i class="fas fa-paint-brush"></i> Book 1</h3>
                    </div>
                    <div class="card-body">
                        <p class="text-muted">A sample description for this book.</p>
                        <div class="text-muted">
                            <p class="text-sm">Publisher
                            <b class="d-block">WillyWonka Publishing House</b>
                            </p>
                            <p class="text-sm">Asignee
                            <b class="d-block">Will Jordan</b>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->


{% endblock body %}
