{% extends  'base.html' %}

{% block body %}

<div class="login-box">
  <div class="login-logo">
    <p ><b>Book</b>AR</p>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Change Password</p>
      <form action="{% url 'account:login' %}" method="POST"> {% csrf_token %}
        <div class="row">
          <div class="col-md-12">
              <div class="card-body">
                  <label for="inputDescription">Old Password</label>
                  <input type="password" name="old_password" autocomplete="current-password" autofocus required id="id_old_password" class="form-control">
                </div>
                <div class="card-body">
                  <label for="inputStatus">New Password</label>
                  <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" class="form-control">
                </div>
                <div class="card-body">
                  <label for="inputDescription">Confirm Password</label>
                  <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" class="form-control">
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
        <div class="row mb-4">
          <div class="col-12">
            <a href="{% url 'account:password_change' %}" class="btn btn-secondary">Cancel</a>
            <input type="submit" value="Change Password" class="btn btn-success float-right">
          </div>
        </div>
      </form>
    </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>

{% endblock body %}