{% extends  'base.html' %}

{% load static %}
{% block body %}
<div class="login-box">
  <div class="login-logo">
    <p ><b>Book</b>AR</p>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Password reset sent</p>
          <div class="row">
            <div class="col-md-12">
        <!--              <div class="card card-primary">-->
        <!--                <div class="card-body">-->
                  <div class="form-group">
                    <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

                    <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>

                  </div>
            </div>
          </div>
        <div class="row mb-4">
                <div class="col-12">
                    <a href="{% url 'account:login' %}"><input type="submit" value="Back To Login" class="btn btn-primary"></a>
                </div>
            </div>
    <!-- /.content -->
    </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>

{% endblock body %}