{% extends  'base.html' %}

{% load static %}
{% block body %}
<style>
  .container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}
</style>
<div class="login-box">
  <div class="login-logo">
    <p ><b>Book</b>AR</p>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Password reset sent</p>
          <div class="row">
            <div class="col-md-12">
        <!--              <div class="card card-primary">-->
        <!--                <div class="card-body">-->
                  <div class="form-group">
                    <p>Your password has been set. You may go ahead and <a href="{% url 'account:login' %}">sign in</a> now.</p>
                  </div>

        <!--                </div>-->
                <!-- /.card-body -->
        <!--              </div>-->
              <!-- /.card -->
            </div>
          </div>

    <!-- /.content -->
    </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>

{% endblock body %}