{% extends  'base.html' %}

{% load static %}
{% block body %}
<div class="login-box">
  <div class="login-logo">
    <p ><b>Book</b>AR</p>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Reset You Password</p>

        <form  method="POST"> {% csrf_token %}
          <div class="row">
            <div class="col-md-12">
              <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Student Password {{User.email}}</h3>
                <div class="card-tools">
                </div>
              </div>
                <div class="card-body">
                  <label for="inputStatus">New Password</label>
                  <input type="password" name="password1" autocomplete="new-password" required id="id_new_password1" class="form-control">
                </div>
                <div class="card-body">
                  <label for="inputDescription">Confirm Password</label>
                  <input type="password" name="password2" autocomplete="new-password" required id="id_new_password2" class="form-control">
                </div>
              </div>
              <a href="{% url 'account:list_student' %}"  class="btn btn-secondary">Cancel</a>
                <input type="submit" value="Change Password" class="btn btn-success float-right">
            </div>
          </div>
        </form>

    <!-- /.content -->
    </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>

{% endblock body %}